# SERVER
IP=http://localhost
PORT=5000

# DATABASE
MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=MYSQL_DATABASE
MYSQL_USER=MYSQL_USER
MYSQL_PASSWORD=MYSQL_PASSWORD
MYSQL_PORT=3308

# SITE ADMIN
ADMIN_EMAIL=
ADMIN_PASSWORD=

# JWT
JWT_SECRET=your_secret

# development || production
NODE_ENV=development

# MAIL CONFIG
MAILER_HOST="smtp.maileroo.com"
MAILER_PORT=587
MAILER_EMAIL=""
MAILER_PASS=""

#FRONT
FRONT_IP=http://localhost:5173

SCALEWAY_ACCESS_KEY=""
SCALEWAY_SECRET_KEY=""
SCALEWAY_ENDPOINT=""
SCALEWAY_BUCKET_NAME=""
SCALEWAY_REGION=""
SCALEWAY_FOLDER=""
SCALEWAY_VIRTUAL_ENDPOINT=""
