# SERVER
IP=http://localhost
PORT=5000

# DATABASE
MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=MYSQL_DATABASE
MYSQL_USER=MYSQL_USER
MYSQL_PASSWORD=MYSQL_PASSWORD
MYSQL_PORT=3308

    # SITE ADMIN
ADMIN_EMAIL=
ADMIN_PASSWORD=

# JWT
JWT_SECRET=your_secret

# development || production
NODE_ENV=production

# MAIL CONFIG
MAILER_EMAIL=""
MAILER_CLIENT_ID=""
MAILER_CLIENT_SECRET=""
MAILER_ACCESS_TOKEN=""
MAILER_REFRESH_TOKEN=""

#FRONT
FRONT_IP=http://localhost:5173