<!doctype html>
<html>
  <head>
    <style>
      .container {
        font-family: sans-serif;
        padding: 20px;
        color: #333;
      }
      .footer {
        font-size: 12px;
        color: #999;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello from MarsAi!</h1>
      <p>{{CONTENT}}</p>
      <div class="footer">
        Click <a href="{{UNSUBSCRIBE_URL}}">here</a> to unsubscribe.
      </div>
    </div>
  </body>
</html>
